body{
    margin: 0;
    background-color: #232323;
    font-family: "Montserrat","Lato";
    text-transform: uppercase;
}

.square{
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius:30px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}


#container{
    margin: 20px auto;
    max-width: 600px;
}

h1{
    color: white;
    text-align: center;
    background-color: DarkSlateBlue;
    margin : 0;
    padding: 30px 30px;
    font-weight: normal;
    
    
}

span{
    
}

#stripe{
        background-color: white;
        height: 30px;
        text-align: center;
}
#message{
    color: black;
    display: inline-block;
    width: 20%;
    font-weight: 700;
}

.selected{
    background-color:  darkslateblue;
    color: white;
}

#colorDisplay{
    font-size: 200%;
}

button{
    background: none;
    border: none;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: darkslateblue ;
    letter-spacing: 1px;
    font-size: inherit;
    font-family: "lato";
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;

}

button:hover{
    color: white;
    background-color: darkslateblue;
    outline: none;
}